html {	
	font-size: 18px;
	font-family: Arial,
				"Helvetica Neue",
				 Helvetica,
				 sans-serif;
    color: #777; 	
}

p {
	font-size: 1rem;
	line-height: 2rem;
}

#logo {  
	display: block;
	max-height: 5rem;
	margin: 0 1rem;
	background-color: #4aaaa5;   
    font-family: Georgia,
    			 Times,
    			 "Times New Roman",
    			 serif;
    font-size: 1.7rem;
    line-height: 5rem;    
    font-weight: 700;       
    color: #fff;    
    text-decoration: none;

}

#myPhoto { 
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

.articleHeader {
  padding-bottom: 20px;
  margin-bottom: 20px;
  line-height: 1.5rem;
  border-bottom: 3px solid #ddd;
}

.asideHeader {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 1.5rem;
  border-bottom: 2px solid #eee;
}

nav {
	height: 5rem;
	padding: 0 1rem;
}

main {
	background: url(../images/small_steps.png);	
}

footer {
	height: 6rem;
	background-color: #666;
	border-top: .6rem solid #4aaaa5;
	line-height: 5.4rem;

}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.25rem;
}

.wrapper {
	background-color: #fff;
	padding: 1.75rem;
	border: 1px solid #ddd;
	margin: 1rem;
	
}

.parent {
	position: relative;
}

.child {
	position: absolute;
	top: 50%;	
	transform: translateY(-50%);
}
