html {	
	font-size: 18px;
	font-family: Arial,
				"Helvetica Neue",
				 Helvetica,
				 sans-serif;
    color: #777; 	
}

main {
	background: url(../images/small_steps.png);	
}

footer {
	height: 6rem;
	background-color: #666;
	border-top: .6rem solid #4aaaa5;
	line-height: 5.4rem;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
	font-size: 2rem;
	line-height: 2.5rem;
    border-bottom: 3px solid #ddd;
    padding-bottom: 1rem;
}

h2 {
	font-size: 1.25rem;
	line-height: 1.5rem;
	border-bottom: 2px solid #eee;
	padding-bottom: 1rem;
}

p {
	font-size: 1rem;
	line-height: 2rem;
}

#logo {  
	font-family: Georgia,
    			 Times,
    			 "Times New Roman",
    			 serif;
    font-size: 1.6rem;
    line-height: 5rem;    
    font-weight: 700;       
    color: #fff;    
    text-decoration: none;
}

#logoBox {
	height: 5rem;
	max-width: 15rem;
	background-color: #4aaaa5;
}

#myPhoto { 
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

.articleHeader {
  background-color: #fff;
  padding: .5rem 1.5rem;
  margin: 1rem .25rem 0 0;
}

.articleSection {
  background-color: #fff;
  padding: .5rem 1.5rem;
  margin: 0rem .25rem 1rem 0;
}

.asideHeader {
  background-color: #fff;	
  padding: .5rem 1.5rem;
  margin: 1rem 0 0 .25rem;
}

.asideSection {
  background-color: #fff;	
  padding: .5rem 1.5rem;
  margin: 0rem 0 1rem .25rem;
}

.parent {
	position: relative;
}

.child {
	position: absolute;
	top: 50%;	
	transform: translateY(-50%);
}

.navLink {
	display: inline-block;
	float: right;
	text-decoration: none;
}